/* Estilo geral do corpo */
body {
    background-image: url(/assets/background.jpeg);
    margin: 0;
    padding: 0;
    background-size: cover;
}
a{
    text-decoration: none;
    color: black;
}

/* Fundo da página */
.fundo {
    background-color: #116AE1;
    width: 102%;
    height: 150px;
    position: relative;
    top: -10px;
    left: -25px;
    opacity: 0.5;
}

/* Imagem da seta */
.seta-img {
    width: 80px;
    height: auto;
    position: relative;
    top: -130px;
}

/* Imagem das configurações */
.conf-img {
    width: 60px;
    height: auto;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: -200px;
    left: 94%;
}

/* Área do carro */
.fudcar {
    background-color: #116AE1;
    width: 350px;
    height: 170px;
    position: relative;
    top: -100px;
    left: 25px;
    opacity: 0.6;
    border-radius: 4%;
}

/* Cabeçalho com pedidos no carrinho */
.ped-h4 {
    position: relative;
    top: -280px;
    left: 55px;
}

/* Imagem do carrinho */
.car-img {
    width: 100px;
    height: auto;
    position: relative;
    top: -290px;
    left: 40px;
    background-color: rgb(174, 172, 172);
    border-radius: 20%;
    border: 8px solid black;
}

/* Área quadrada */
.quad {
    background-color: white;
    width: 180px;
    height: 60px;
    position: relative;
    top: -390px;
    left: 170px;
    border: 8px solid black;
}

/* Área da página inicial */
.hom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: -620px;
    position: relative;
    z-index: 2;
}

/* Imagem da página inicial */
.home-img {
    width: 420px;
    height: auto;
    border-radius: 50%;
    margin: auto;
}


/* Fundo secundário */
.fund2 {
    width: 380px;
    height: 380px;
    background-color: gray;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    top: -400px;
    left: 630px;
}

/* Nome do usuário */
.nom {
    position: absolute;
    left: 680px;
    top: 525px;
    z-index: 5;
    color: black;
}

/* Área azul */
.az {
    background-color: #116AE1;
    width: 400px;
    height: 80px;
    position: relative;
    top: -370px;
    left: 635px;
    z-index: 1;
    border-radius: 80px;
}

/* Área azul grande */
.blue {
    background-color: #116AE1;
    width: 400px;
    height: 400px;
    position: relative;
    top: -800px;
    left: 1200px;
    opacity: 0.6;
    border-radius: 10px;
}

/* Lojas mais acessadas */
.loj {
    position: relative;
    top: -1210px;
    left: 1205px;
}

/* Botões */
.b1, .b2, .b3, .b4 {
    position: relative;
    color: white;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.b1 {
    top: -1200px;
    left: 1250px;
}

.b2 {
    top: -1200px;
    left: 1340px;
}

.b3 {
    top: -1030px;
    left: 1042px;
}

.b4 {
    top: -1030px;
    left: 1135px;
}

/* Área de fundo inferior */
.baix {
    background-color: #116AE1;
    width: 102%;
    height: 150px;
    position: relative;
    top: -910px;
    left: -25px;
    opacity: 0.5;
}

/* Botão para criar perfil profissional */
.cri {
    background-color: #116AE1;
    position: relative;
    top: -1040px;
    left: 1120px;
    width: 500px;
    height: 100px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    border: 8px solid black;
    cursor: pointer;
    z-index: 3;
}
