body {
    font-family: Arial, sans-serif;
    background-color: #d9e4f5;
    height: 100vh;
    margin: 0;
    background-image: url('../assets/background.jpeg');
    background-size: cover;
}
header{
    background-color: #6dabfd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
header input{
    height: 30px;
    border-radius: 30px;
    border-style: solid;
    border-color: gray;
    
}
ul{
    display: flex;
    list-style: none;
}
.estabelecimentos{
    background-color: #eff5ff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    margin: auto;
    display: flex;
    cursor: pointer;
    
}
.container{
    margin: 90px;
    margin-top: 50px;
    background-color: #95c0f8;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(150px, 1fr));
    max-width: 500px;
    gap: 25px;
    flex-wrap: wrap;
    
}
.estabelecimentos img{
    border-radius: 10px;
}
.container-info{
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 30px;
    flex-wrap: wrap;
}
.title-local{
    background-color: white;
    height: 35px;
    width: 280px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}
.info-local{
    margin: auto;
    align-items: center;
    flex-wrap: wrap;

}
.left-logo img{
    height: 150px;
    align-items: center;
    border-radius: 20px;
}
.middle{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.local-contatos{
    background-color: rgb(255, 255, 255);
    max-height: 1300px;
    padding: 10px;
    border-radius: 20px;
    flex-wrap: wrap;
}
.about{
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    flex-wrap: wrap;
}
.comprar{
    height: 40px;
    width: 300px;
    border-radius: 15px;
    background-color: white;
    margin-top: 30px;
    border-style: none;
}