body {
    font-family: Arial, sans-serif;
    background-color: #d9e4f5;
    height: 100vh;
    margin: 0;
    background-image: url('../assets/background.jpeg');
    background-size: cover;
}
header{
    background-color: #6dabfd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
header input{
    height: 30px;
    border-radius: 30px;
    border-style: solid;
    border-color: gray;
    
}
.seta_voltar img{
    width: 40px;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px   ;
}
ul img{
    width: 30px;
    background-color: rgb(218, 218, 218);
    border-radius: 40px;
}
.estabelecimentos{
    background-color: #eff5ff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    margin: auto;
    display: flex;
    cursor: pointer;
    
}
.container{
    margin: 90px;
    margin-top: 50px;
    background-color: #95c0f8;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(150px, 1fr));
    max-width: 500px;
    gap: 25px;
    flex-wrap: wrap;
    
}
.estabelecimentos img{
    border-radius: 10px;
}
.container-info{
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 30px;
    flex-wrap: wrap;
}
.title-local{
    background-color: white;
    height: 35px;
    width: 280px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}
.info-local{
    margin: auto;
    align-items: center;
    flex-wrap: wrap;

}
.left-logo img{
    height: 150px;
    align-items: center;
    border-radius: 20px;
}
.middle{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.local-contatos{
    background-color: rgb(255, 255, 255);
    max-height: 1300px;
    padding: 10px;
    border-radius: 20px;
    flex-wrap: wrap;
}
.about{
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    flex-wrap: wrap;
}
.comprar{
    height: 40px;
    width: 300px;
    border-radius: 15px;
    background-color: white;
    margin-top: 30px;
    border-style: none;
}
.promoções-carrossel {
    width: 80%;
    margin: 0 auto;
}
.title-carrossel{
    text-align: center;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track-container {
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.product {
    width: 30%;
    box-sizing: border-box;
}

.product img {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
.cad_empresa{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.logo_empresa{
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    margin: auto;
}
.form_logo{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.form-group input{
    margin-bottom: 10px;
    height: 33px;
    width: 300px;
    border-radius: 20px;
    border-style: none;
}
button{
    cursor: pointer;
}